<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema Home</title>
    <link rel="stylesheet" href="path/to/bootstrap.css">
</head>
<body>
    <h1>Welcome to Cinema</h1>
    <a href="/movies" class="btn btn-primary">See Movies</a>
</body>
</html>